/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Base */
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialised;
}

h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
}

/* variaveis */
:root {
  --base-color: #261932;
  --base-color-second: #a152ef;
  --base-color-alt: #d3cadd;
  --title-color: #d3cadd;
  --text-color: #777;
  --text-color-light: #ffffff;
  --body-color: #ffffff;
}

/* Layout */
#header {
  border-bottom: 1px solid #e4e4e4;
}

nav {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font: 700 1.31rem 'poppins', sans-serif;
  color: var(--base-color-second);
}
.logo span {
  color: var(--base-color);
}

.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 5rem 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* Home */
#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--base-color-alt);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
