/* variaveis */
:root {
  /* colors */
  --hue: 218;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-primary: #000;
  --text-color-light: #fff;
  --body-color: hsl(0 0% 98%);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Base */
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialised;
}

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.btn {
  display: inline-flex;
  align-items: center;
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: 0.6s;
  color: var(--text-color-light);
}

.btn:hover {
  background-color: var(--base-color-alt);
  color: var(--text-color-primary);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(270deg, #a152ef, #a882d3, #f8f8f8);
}
.divider-2 {
  background: linear-gradient(270deg, #f8f8f8, #a882d3, #a152ef);
}

/* Layout */
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--body-color);
}

/* Logo */
.logo {
  font: 700 1.31rem 'poppins', sans-serif;
  color: var(--base-color-second);
}
.logo span {
  color: var(--base-color);
}

main {
  margin-top: calc(4.5rem + 2rem);
}
/* navigation */

nav {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul.grid {
  gap: 4rem;
}

nav ul li {
  text-align: center;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Monstrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem;
}

.text h1 span {
  background-image: linear-gradient(
    to right,
    var(--text-color-primary),
    var(--text-color-primary),
    var(--base-color-alt),
    var(--base-color)
  );

  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 5rem 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* Home */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--base-color-alt);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}
