/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Base */
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialised;
}

h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.btn {
  display: inline-flex;
  align-items: center;
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: 0.4s;
}

.btn:hover {
  background-color: var(--base-color-alt);
  color: var(--base-color);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(270deg, #a152ef, #a882d3, #f8f8f8);
}
.divider-2 {
  background: linear-gradient(270deg, #f8f8f8, #a882d3, #a152ef);
}
/* variaveis */
:root {
  --base-color: #261932;
  --base-color-second: #a152ef;
  --base-color-alt: #d3cadd;
  --title-color: #d3cadd;
  --text-color: #777;
  --text-color-light: #ffffff;
  --body-color: #ffffff;
}

/* Layout */
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--body-color);
}

nav {
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font: 700 1.31rem 'poppins', sans-serif;
  color: var(--base-color-second);
}
.logo span {
  color: var(--base-color);
}

main {
  margin-top: 4.5rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 5rem 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* Home */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--base-color-alt);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}
